[Unit]
Description=Check every five minutes whether the website needs rebuilding

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
